* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 10px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: lightpink;
    height: 200px;
    width: 512px;
}

.container--relative {
    position: relative;
}

.box {
    border: 2px solid black;
    border-radius: 7px;
    background-color: lightcoral;
    width: 120px;
    height: 90px;

    display: inline-block;
    position: relative;
}

.box--blue {
    background-color: lightblue;
    top: 50px;
    left: 50px;
}

.box--green {
    background-color: lightgreen;
    position: fixed;
    top: 437px;
    bottom: 430px;
}

.box--red {
    background-color: lightsalmon;
    position: absolute;
    right: 11px;
}

header {
    font-size:xx-large;
    height: 58px;
    color: white;
    background-color: purple;
    position: sticky;
    right: 11px;
    top: 0;
}